:root {
  --orange: #ff7000;
}

body.primary-menu-open {
  overflow: hidden;
}

.demos-filter {
  margin: 0;
  text-align: right;
}

.demos-filter li {
  list-style: none;
  margin: 10px 0px;
}

.demos-filter li a {
  display: block;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #444;
}

@media (max-width: 991px) {
  .demos-filter {
    text-align: center;
  }
  .demos-filter li {
    float: left;
    width: 33.3%;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .demos-filter li {
    width: 50%;
  }
}
#welcome_wrapper .tp-loader.spinner2 {
  background-color: var(--orange) !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

.tc-gradient i:before {
  background: -webkit-linear-gradient(left, var(--orange) 0%, var(--orange) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tc-btnshadow {
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2) !important;
}

.on-click .mega-menu-content {
  max-width: 1060px !important;
}

.nav-link {
  color: #464b5d;
}
.nav-link:hover, .nav-link:focus {
  color: var(--orange);
}

.kt.nav-tabs .nav-link {
  border-color: transparent transparent #eaeaea transparent;
}
.kt.nav-tabs .nav-link.active {
  border-color: transparent transparent var(--orange) transparent;
  color: var(--orange);
}

.feature-box.kt .fbox-icon img {
  height: auto;
}

#map {
  margin-top: 96px;
  height: 425px;
}
#map section h3 {
  font-size: 20px;
}
#map section p {
  margin-bottom: 5px;
}

.place {
  background-color: transparent;
  transition-duration: background-color;
  transition-duration: 0.5s;
  border-radius: 10px;
  padding: 10px;
}
.place:hover {
  background-color: rgba(234, 234, 234, 0.368627451);
  cursor: pointer;
}

.section.sectionLinks {
  border-radius: 0.25rem;
}
.section.sectionLinks a:hover span {
  opacity: 0.4;
}
.section.sectionLinks span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.section.sectionLinks h3 {
  color: #fff;
}

.icon-right-vertical-center {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
}

ul.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
ul.list li {
  margin-bottom: 20px;
}
ul.list li:last-child {
  margin-bottom: 0;
}
ul.list .number {
  margin-right: 10px;
}

.clients-grid .grid-item, .testimonials-grid .grid-item {
  display: flex;
  align-items: center;
}

@media (max-width: 1050px) {
  #logo img {
    height: 80px !important;
  }
  .primary-menu > .menu-container {
    height: calc(100vh - 81px);
    overflow: auto;
  }
  .primary-menu > .menu-container > .menu-item > .menu-link *, .current, .sectionTitle {
    font-weight: 800 !important;
  }
  .sub-menu-container {
    padding-left: 6px;
  }
  .sub-menu-container > li:not(:first-child) {
    padding-left: 10px;
  }
}
@media (max-width: 990px) {
  #disclaimerPimento {
    flex-direction: column;
  }
  #disclaimerPimento img {
    margin: 0 !important;
  }
}
@media (min-width: 990px) {
  svg + img {
    display: none;
  }
}
@media (min-width: 768px) {
  .nascosto {
    display: none !important;
  }
}
/*---------cookiebot------------*/
#CybotCookiebotDialog #CybotCookiebotDialogPoweredbyLink {
  background-image: url("../images/logo_kt.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#CybotCookiebotDialog #CybotCookiebotDialogPoweredbyLink > img {
  display: none;
}

#CybotCookiebotDialogFooter #CybotCookiebotDialogBodyButtonAccept,
#CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonAccept,
#CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}

#CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton,
#CybotCookiebotDialog a:hover:after,
#CybotCookiebotDialog a:hover:before,
#CybotCookiebotDialog button:hover:after,
#CybotCookiebotDialog button:hover:before {
  border-color: var(--orange) !important;
}

#CybotCookiebotDialog.CybotEdge #CybotCookiebotDialogBodyEdgeMoreDetails a,
#CybotCookiebotDialog #CybotCookiebotDialogBodyContentText a,
#CybotCookiebotDialog #CybotCookiebotDialogBodyLevelButtonIABHeaderViewPartnersLink,
#CybotCookiebotDialog #CybotCookiebotDialogDetailBulkConsentList dt a,
#CybotCookiebotDialog #CybotCookiebotDialogDetailFooter a,
#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonIABDescription a,
#CybotCookiebotDialog .CybotCookiebotDialogDetailBodyContentCookieLink,
#CybotCookiebotDialogDetailBodyContentTextAbout a,
#CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink:hover,
#CybotCookiebotDialog .CookieCard .CybotCookiebotDialogDetailBodyContentCookieContainerButton:hover,
#CybotCookiebotDialog .CookieCard .CybotCookiebotDialogDetailBodyContentIABv2Tab:hover,
#CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider:not(.CybotCookiebotDialogDetailBodyContentCookieInfoCount):hover {
  color: var(--orange) !important;
}

#CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
  border-bottom-color: var(--orange) !important;
  color: var(--orange) !important;
}

#CybotCookiebotDialog input:checked + .CybotCookiebotDialogBodyLevelButtonSlider {
  background-color: var(--orange) !important;
}

#accordionPosition .accordion-button:not(.collapsed) {
  color: var(--orange);
  background-color: #fff1e6;
  font-size: 20px;
}
#accordionPosition .accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff7000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-item:first-of-type .accordion-button {
font-size: 20px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  font-size: 20px;
}